In [4]:
!pip install mrjob

Requirement already satisfied: mrjob in /usr/local/lib/python3.7/dist-packages (0.7.4)
Requirement already satisfied: PyYAML>=3.10 in /usr/local/lib/python3.7/dist-packages (from mrjob) (3.13)

In [5]:
%%file wc.py
from mrjob.job import MRJob

class MRWordFrequencyCount(MRJob):

    def mapper(self, _, line):
        yield "chars", len(line)
        yield "words", len(line.split())
        yield "lines", 1

    def reducer(self, key, values):
        yield key, sum(values)


if __name__ == '__main__':
    MRWordFrequencyCount.run()

Overwriting wc.py

In [6]:
#Problem 2
import wc
from io import StringIO
import numpy as np
import pandas as pd
data = pd.read_csv('yelp (1).csv')
#formatted_df = str(data["date"][0])[0:-3]
#formatted_df

#print(type(data['date']))
data['FormattedDate'] = pd.to_datetime(data['date'])
data['FormattedDate'] = data['FormattedDate'].dt.to_period('M')
data = data.groupby(['FormattedDate'], as_index=False)['FormattedDate'].count()
data

    FormattedDate
0               1
1               2
2               1
3               6
4               9
..            ...
82            239
83            258
84            208
85            196
86             52

[87 rows x 1 columns]